@media only screen and (min-width: 64em) {
  
    div[role="article"] {
    padding: 20px;
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }
.intro {
  grid-column: 1/4;
}
.main {
  grid-column: 2;
}
.sidebar {
  grid-column: 1/4;
}
.design-archives ul {
  margin-left: 0px;
  padding: 0;
}
  #zen-intro,
  #zen-supporting {
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-gap: 40px;
  }

  #zen-requirements {
    display: block;
  }

  header[role="banner"] {
    grid-column: 1/5;
  }

  .summary,
  .explanation,
  .benefits {
    grid-column: 3/5;
  }

  .preamble {
    grid-column: 2/4;
    margin-bottom: 20px;
  }

  .participation,
  .requirements {
    grid-column: 2/4;
  }

  body {
    margin-left: 0.25fr;
    margin-right: 0.25fr;
  }
}
