h3 {
   font-family: "Orbitron", serif;
 }
 
 aside h3,
 li {
   color: $color-5;
 }
 
 p,
 a,
 li {
   font-family: "Barlow", sans-serif;
 }
 
 div[role="article"] {
   padding: 10px;
   background-color: $color-5;
 }
 
 body {
    width: 100%;
    margin: 15px auto;
    background-color: $color-1;
    //background-image: url("/partials/viewports/big.svg");
 
 }
 
 p {
  padding-left: 20px;
  padding-right: 20px;
}
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3  {
  padding-top: 10px;
  padding-left: 20px;
}
 abbr[title] {
   text-decoration: none;
 }
 
 #zen-intro,
 #zen-supporting
 {
   display: grid;
   grid-template-columns: 10px 2fr 10px;
   grid-gap: 20px;
 }

 #zen-requirements {
  display: grid;
  grid-template-columns: 10px 2fr 10px;
  grid-gap: 0px;
 }
  
 header[role="banner"] {
   grid-column: 1/4;
   text-align: center;
   font-family: "Orbitron", serif;
   //background-color: $color-3;  
   color: $color-1;
 }
 
 .summary,
 .explanation,
 .benefits,
 footer {
   grid-column: 2/4;
 }
 
 .preamble {
   grid-column: 1/3;
   margin-bottom: 20px;
 }
 
 .participation,
 .requirements,
 .requirements p {
   grid-column: 1/3;
 }
 
 //links
 div a {
   color: $color-2;
   &:hover {
     color: $color-3;
   }
 }
 
 aside a,
 footer a {
   color: $color-4;
   &:hover {
     color: $color-3;
   }
 }
 
 
 header {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    height: 300px; 
    background: url("/partials/viewports/test.svg") no-repeat center center; 

    background-color: $color-3;
    
    h1{
       font-family: 'Orbitron', sans-serif;
       font-size: 3rem;
       margin-top: 90px;
    } 
    h2 {
       font-family: 'Barlow', sans-serif;
       font-size: 1.5rem;
       margin: -30px 0 15px 0px;
 
    }
 }

 aside {
   background-color: $color-2;
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
   padding-bottom: 150px;
   ul {
     margin: 0;
     padding: 0;
     list-style-type:none;
   }
}

.designer-name {
  color: $color-5;
  text-decoration: none;
}

nav ul li {
  font-size: 12px;
}

.design-name {
   display: block; 
   text-decoration: none;
   font-size: 18px;
}

.next, .viewall, .view-css, .css-resources, .zen-faq, .zen-submit, .zen-translations {
    font-size: 14px;
    text-decoration: none;
}

.select, .archives, .resources {
  margin-bottom: 2px;
  font-size: 20px;
}
#zen-summary {
  clip-path: polygon(12% 12%, 16% 0, 100% 0, 100% 89%, 100% 100%, 89% 100%, 0 100%, 0 12%);
}
#zen-preamble, #zen-benefits {
  clip-path: polygon(77% 0, 83% 9%, 100% 9%, 100% 89%, 100% 100%, 89% 100%, 0 100%, 0 0);
}
#zen-explanation {
  clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 100%, 94% 100%, 85% 100%, 0 100%, 0 5%);
}
#zen-participation {
  clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 92%, 94% 100%, 85% 100%, 0 100%, 0 5%);
}
#zen-requirements {
  clip-path: polygon(7% 0, 16% 0, 100% 0, 100% 96%, 94% 100%, 85% 100%, 0 100%, 0 7%);
}

footer {
  grid-column: 1/-1;
  text-align: center;
  background-color: $color-3;
  width: 100%;
  padding: 30px 0;
  a {
    color: $color-1;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 20px 23px 20px 23px; 
  }

  /* 
   Original
    a:hover {
    background-color: $color-1;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
    
  } */

  a:hover {
    animation: glitch .5s linear forwards;
    background: linear-gradient(0deg, $color-4 25%, transparent 30%) 0 0 / 0.5em 0.5em
                , linear-gradient(0deg, $color-1 50%, transparent 50%) 0 0 / 3em 3em;
    color: $color-3;
    font-family: 'Orbitron', sans-serif;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);

  }
}
/*-------Header Animation---------*/

@keyframes glitch {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

#zen-summary {
  clip-path: polygon(11% 8%, 18% 0, 100% 0, 100% 100%, 13% 100%, 0 100%, 0 26%, 0 9%);
          transition: clip-path 1s;
          border: solid 7px #D1F7FF;
}
#zen-preamble, #zen-benefits {
  clip-path: polygon(0 0, 78% 0, 83% 9%, 100% 10%, 100% 100%, 12% 100%, 0 100%, 0 91%);
  transition: clip-path 1s;
  border: solid 7px #D1F7FF;
}
#zen-explanation {
  -webkit-clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 100%, 94% 100%, 85% 100%, 0 100%, 0 5%);
          clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 100%, 94% 100%, 85% 100%, 0 100%, 0 5%);
          border: solid 7px #D1F7FF;
}
#zen-participation {
  -webkit-clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 92%, 94% 100%, 85% 100%, 0 100%, 0 5%);
          clip-path: polygon(11% 5%, 16% 0, 100% 0, 100% 92%, 94% 100%, 85% 100%, 0 100%, 0 5%);
          border: solid 7px #D1F7FF;
}
#zen-requirements {
  clip-path: polygon(0 0, 93% 0, 100% 9%, 100% 92%, 100% 100%, 6% 100%, 0 91%, 0 8%);
  transition: clip-path 2s;
  transition: border 2s;
  border: solid 7px #D1F7FF;
}
#zen-requirements:hover, #zen-participation:hover, #zen-explanation:hover, #zen-preamble:hover, #zen-benefits:hover, #zen-summary:hover{
   animation: borderchange 2s ease-in-out 2 alternate;
}
@keyframes borderchange{
  100% {
    border-top: solid 7px #FF2A6D;
  }
  75% {
    border-right: solid 7px #FF2A6D;
  }
  50% {
    border-bottom: solid 7px #FF2A6D;
  }
  25% {
    border-left: solid 7px #FF2A6D;
  }
}