$color-1: #01012B; 
$color-2: #00567b; 
$color-3: #FF2A6D; 
$color-4: #05d9eb; 
$color-5: #d1f7ff;

@import 'partials/setup/_normalize';
@import 'partials/viewports/_small';
@import 'partials/viewports/_medium';
@import 'partials/viewports/_large';
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Orbitron:wght@600&display=swap");


